.user_icon{
    border:none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    line-height: 30px;
    background: #707070;
    text-align: center;
    color: white;
}
.user_name{
    margin-left: 10px;
}
.page-flash{
    position: relative;
    /*max-width:500px;*/
    width: 300px;
    margin-top: 65px;
    /*margin-left: auto;*/
    /*margin-right:0;*/
    z-index: 999;
}

