body.sessions.new{
    font-family: "微软雅黑", "宋体";
    font-size: 14px;
    background: white;
}
.session{
    border: solid #ccc 1px;
    width: 320px;
    height: 350px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 4px;
}
.session h4{
    font-size: 16px;
    line-height: 32px;
}

.session input{
    width: 250px;
    height: 30px;
    border-radius: 4px;
}

.session .form-label{
    margin-top:15px;
}
.session .form-btn{
    margin-top: 30px;
}
.session .form-btn .sub-btn{
    height: 30px;
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    border: none;
    font-family: "微软雅黑", "宋体";
    font-size: 16px;
    letter-spacing: 3px;
}
.session .form-btn .sub-btn:hover{ background: deepskyblue }